h2{
    color: orange;
}

body{
    background-color: #7EC6E3;
    color: white;
    font-family: Roboto;
    text-align: center;
}

header{
    border-bottom: 1px solid grey;
}

footer{
    border-top: 1px solid grey;
}

.texto-inglês{
    font-style: italic;
}

#mensagem {
    background-color: #ffb6c1;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    margin-bottom: 20px;
}